<header>
    <p>FOOTBALL UPDATES</p>
    <nav>
        <ul>
            <li><button [routerLink]="['/leagues', 'england']" id="englandSelect" routerLinkActive="router-active">England</button></li>
            <li><button [routerLink]="['/leagues', 'spain']" id="spainSelect" routerLinkActive="router-active">Spain</button></li>
            <li><button [routerLink]="['/leagues', 'germany']"  id="germanySelect" routerLinkActive="router-active">Germany</button></li>
            <li><button [routerLink]="['/leagues', 'france']"   id="franceSelect" routerLinkActive="router-active">France</button></li>
            <li><button [routerLink]="['/leagues', 'italy']"  id="italySelect" routerLinkActive="router-active">Italy</button></li>
        </ul>
    </nav>
</header>
